@import "./../../assets/styles/style.css";

.P-buttons{
    display: flex;
    justify-content: center;
    margin: 50px 30px;
}
.P-buttons button{
    background-color: white;
    border:1px solid #2F956D;
    color:  #2F956D;
    padding: 10px 30px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}
.P-buttons button:hover{
    background-color: #2F956D;
    color: white;
}
.P-food-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 30px;
    margin-left: 30px;
}
.P-food-box{
    width: 250px;
    text-align: center;
}
.P-food-box img{
    width: 100%;
}
.P-buttons .active{
    background-color: #2F956D;
    color: white;
}