@import "./../../assets/styles/style.css";

.P-main-section>h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 70px;
}
.P-main-section>p{
    color: #626364;
    line-height: 1.8;
    text-align: center;
    width: 50%;
    margin: 0 auto 50px;
    font-size: 17px;
}